@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #d1f4f6;
    margin: 0;
}

.content{
    width: 80%;
    margin: 0px auto;
}

.first{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
    background: #c462a0;
}

.telephone{
    height: 50px;
    width: 50%;
    padding-left: 10px;
    margin-left: 100px;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;

}

#number{
    padding-top: 5px;
}

#autorization{
    text-align: center;
    padding-right: 50px;
    padding-bottom: 15px;
    color: black;
    margin-right: 50px;
}


button{
    margin-right: 100px;
    height: 30px;
    width: 180px;
    background: #d1f4f6;
    box-sizing: 20%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

}

.navigation{
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

#mainlogo{
    width: 20%;
}

 #form-btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: flex-start;
    width: 20%;
    padding-left: 50px;

}


#cart_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/shopping-cart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;


}

#cabinet_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/customer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;

}

.menu{
    width: 60%;
    height: 50px;
    border-radius: 35px;
    border: 1px solid black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background: white;
    margin-left: 55px;
}

ul.full-width{
	width: 90%; /* Ширина основного блока меню */
	height: 50px; /* Высота основного блока меню */
	position: relative;
	display: table;
    margin: 0 auto;
    padding: 0px;
}

ul.full-width li {
	display: table-cell;
	position: relative;
}

ul.full-width li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	background: #FFF;
	line-height: 50px; /* Приравниваем к высоте, чтобы выровнять текст по вертикали */
}

ul.full-width li ul {
	display: none; /* Скрываем выпадающее меню */
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul.full-width li ul li {
	display: block;
    width: 350px;
}

ul.full-width li:hover ul {
	display: block; /* Показываем выпадающее меню, где оно есть, при наведении */
}

.mainview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#title{
    display: inline-block;
    width: 40%;
    text-align: center;

}

#mainphoto{
    display: inline-block;
    width: 60%;
    text-align: center;
}

h1{
    font-size: 77px;
    color: #cf1e8f;
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    text-align: left;
}

span{
    color: gold;
}

.advantages{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    margin-top: 100px;
}

#adv{
    float: left;
    color: black;
    width: 25%;
    margin-top: 10px;
    text-align: center;
}

p2{
    text-align: center;
}

h2{
    text-align: center;
}

.adv img{
    display: table-cell;
    vertical-align: middle;

}

#text{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

#photo-about{
    display: inline;
    margin-bottom: 50px;
}

.about-us{
    margin-top: 100px;
}

p{
    text-indent: 25px;
    text-align: justify;
}

.container-info{
    margin-top: 100px;
    height: 600px;
    background: white;
    display: flex;
}

.main_thanks{
    padding: 30px;
}

#text_title{
    font-size: 28px;
    color: #c462a0;
    text-align: center;
    margin-top: 60px;

}

#text_thanks{
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

#menu-block{
    padding-top: 50px;
    width: 30%;
    height: 100%;
}

#info-block{
    width: 65%;
    text-align: justify;
}

.form-group{

}

#list-pay span{
    color: black;
}

#list-pay li {
    margin-bottom: 10px;
}
#block li{
    margin-bottom: 10px;
    list-style: none; /* Скрываем маркеры списка */
    text-indent: -1em;
}

#block li::before{
    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: #c462a0;
}


.futer{
    background: #c462a0;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;

}


 #end-block{
    font-size: 20px;
    width: 30%;
    margin-left: 150px;

 }

 #form-btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;

}

a{
    text-decoration: none;
}

#form_btn{
    margin-left: 60px;
    margin-top: 20px;
}

#form_btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

.form-group{
    margin-top: 10px;
    color: #c462a0;
    font-weight: bolder;
}

#img_thanks{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 280px;
}