<html>
<body>
    {% block content %}
        <p>Data URL</p>
        <ul>
            {% for object in object_list %}
            <li>
                {{ object.data }}  {{ object.url}}
            </li>
        {% endfor %}
        </ul>
    {% endblock %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
              <a class='ghost-button' href="?page=1"><<<</a>
                <a class='ghost-button' href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
         {% endif %}
        <span class="current">
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a class='ghost-button' href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class='ghost-button' href="?page={{ page_obj.paginator.num_pages }}">>>></a>
        {% endif %}
        </span>
    </div>
</body>
</html>






