<html>
    <h1>{{ title }}</h1>
    <p> hw_23</p>
    <ul>
        {% for d in list_data %}
            {%  if d|divisibleby:'10' %}
                <li style='color:green'>{{ d }}</li>
                {% else %}
                <li> {{ d }}</li>
            {% endif %}
        {% endfor %}

    </ul>
</html>
