<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>datetime-request_id-url-result</title>
</head>
<body>
    <ul>
        {% for d in data %}
            <li>
            <p>{{ d }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
<ul>
    {% for post in posts %}
    <li>
        {{ post }}
    </li>
    {% endfor %}
</ul>

{% if page_obj.paginator.num_pages > 1 %}

    {% include 'index.html' with page_obj=page_obj %}

{% endif %}
</html>
