@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background: #d1f4f6;
    margin: 0;
}

.content{
    width: 80%;
    margin: 0px auto;
}

.first{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
    background: #c462a0;
}

.telephone{
    height: 50px;
    width: 50%;
    padding-left: 10px;
    margin-left: 100px;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;

}

#number{
    padding-top: 5px;
}

#autorization{
    text-align: center;
    padding-right: 50px;
    padding-bottom: 15px;
    color: black;
    margin-right: 50px;
}


button{
    margin-right: 100px;
    height: 30px;
    width: 180px;
    background: #d1f4f6;
    box-sizing: 20%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    color: black;
    border-radius: 35px;
    border: 1px solid black;

}

.navigation{
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

#mainlogo{
    width: 20%;
}


.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: flex-start;
    width: 20%;
    padding-left: 50px;

}


#cart_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/shopping-cart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;


}

#cabinet_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/customer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;

}

#add-cart{
    height: 30px;
    width: 150px;
    background: #c462a0;
    border-radius: 35px;
    color: white;
}

#add-cart:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

.menu{
    width: 60%;
    height: 50px;
    border-radius: 35px;
    border: 1px solid,black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background: white;
    margin-left: 55px;
}

ul.full-width{
	width: 90%; /* Ширина основного блока меню */
	height: 50px; /* Высота основного блока меню */
	position: relative;
	display: table;
    margin: 0 auto;
    padding: 0px;
}

ul.full-width li {
	display: table-cell;
	position: relative;
}

ul.full-width li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	background: #FFF;
	line-height: 50px; /* Приравниваем к высоте, чтобы выровнять текст по вертикали */
}

ul.full-width li ul {
	display: none; /* Скрываем выпадающее меню */
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul.full-width li ul li {
	display: block;
    width: 350px;
}

ul.full-width li:hover ul {
	display: block; /* Показываем выпадающее меню, где оно есть, при наведении */
}

.mainview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

#title{
    display: inline-block;
    width: 40%;
    text-align: center;

}

#mainphoto{
    display: inline-block;
    width: 60%;
    text-align: center;
}

h1{
    font-size: 77px;
    color: #cf1e8f;
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    text-align: left;
}

span{
    color: gold;
}

.advantages{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    margin-top: 100px;
}

#adv{
    float: left;
    color: black;
    width: 25%;
    margin-top: 10px;
    text-align: center;
}

p2{
    text-align: center;
}

h2{
    text-align: center;
}

.adv img{
    display: table-cell;
    vertical-align: middle;

}

#text{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

#photo-about{
    display: inline;
    margin-bottom: 50px;
}

.about-us{
    margin-top: 100px;
}

p{
    text-indent: 25px;
    text-align: justify;
}


#menu-block{
    padding-top: 50px;
    width: 30%;
    height: 100%;
}

#info-block{
    width: 65%;
    text-align: justify;
}

p{
    text-indent: 20px;
}


.futer{
    background: #c462a0;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;

}

 #end-block{
    font-size: 20px;
    width: 30%;
    margin-left: 150px;

 }

.conteiner-info{
    margin-top: 100px;
    background: white;
    height: 850px;
    display: flex;

}

.pagination{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;

}

.pagination_link{
    border: 1px #c462a0 solid;
    width: 10px;
    height: 10px;
    background: #d1f4f6;
    color: #c462a0;
    padding: 10px;
}

.pagination_link_pagination_link__active{
    border: 1px #c462a0 solid;
    width: 10px;
    height: 10px;
    background: #9de9ee;
    color: #c462a0;
    padding: 10px;
}

#sidebar{
    width: 30%;
    margin-left: 30px;
    margin-top: 20px;
}


#sidebar li{
    margin-bottom: 10px;
    list-style: none; /* Скрываем маркеры списка */
    text-indent: -1em;
}

#sidebar li::before{
    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
    padding-right: 5px; /* Расстояние от маркеров до текста */
    color: #c462a0;
}


#all_products{
    width: 65%;
    height: 700px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}



.product-item {
    width: 180px;
    height: 350px;
    text-align: center;
    margin: 10px;
    transition: .3s ease-in;
    border: 2px solid #c462a0;


}
.product-item:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.product-item img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#product-list {
    width: 90%;
}

.price {
    font-size: 16px;
    color: #c462a0;
    font-weight: bold;
    display: block;
    margin:5px;
    margin-top: 20px;
    height: 33%;
}

.product-item:hover .button {
   background: #c462a0;
}

#item-name{
    padding: 5px;
    height: 33%;
}

.item-btn{
    background: #c462a0;
    padding: 5px;
    border: 1px solid;
    border-radius: 35px;
    color: #d1f4f6;
    width: 100px;
    height: 33%;
    font-size: 16px;
}

#category_btn{
    margin: 10px;
    width: 250px;
    color: black;
    font-weight: normal;

}

#form-btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;

}

a{
    text-decoration: none;
}

 #form-btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}
