@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: rgb(3, 3, 3);
}

.information{
    background: rgb(248, 224, 5);
    color: white;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100px;
}

.menu{
    width: 60%;
}

.logo{
    width: 20%;
    border: 1px, solid;
    padding: 20px;
    box-shadow: 0 0 10px rgba(240, 233, 233, 0.5);
    text-align: center;
}

.telephone{
    width: 20%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(240, 233, 233, 0.5);
    margin-right: 0;
    color: black;
    width: 20%;
    text-align: center;
}

.list {
	text-align: justify;
	padding: 20px;
}

.list li {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: black;
    font-size: 12px;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.name{
    background: rgb(248, 224, 5);
    display: inline-block;
    margin: 20px;
    margin-left: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 80px;
}

.avatar{
    display: inline-block;
    margin: 20px;
    margin-right: 100px;
    width: 25%;
    height: 300px;
}

p1{
    font-size: 23px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    margin-top: 60px;
}

h1{
    font-size: 70px;
    color: rgb(35, 1, 46);
    font-family: 'Playfair Display', serif;
    margin: 60px;
}

p2{
    font-family: Trattatello, fantasy;
    color: black;
    font-size: 18px;
}

.about{
    background: rgb(248, 224, 5);
    width: 1150px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;

}

h2{
    color: black;
    font-size: 30px;
}

.info{
    display: inline-block;
    margin: 20px;
    margin-right: 100px;
    width: 25%;
    height: 500px;
    margin-top: 90px;
}

.photo{
    display: inline-block;
    text-align: center;
    margin: 50px;
    margin-top: 90px;
    width: 25%;
    height: 500px;
}

.portfolio{
    background: rgb(248, 224, 5);
    width: 1150px;
    height: 850px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}

#title-works{
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 520px;
    margin-top: 70px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 80px;
  }

  .works img{
    display: block;
    position: relative;
    margin: 10px 15px 15px
  }
  .works img:hover{
    transform: scale(1.1)
  }

  .price{
    background: rgb(248, 224, 5);
    width: 1150px;
    height: 700px;
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 30px;
  }

  .category{
      background: black;
      width: 500px;
      height: 300px;
      display: inline-flex;
      position: relative;
      margin-left: 60px;
      margin: 10px 15px 15px;
      text-align: center;
  }

  .container{
    display: block;
    padding-left: 40px;
    align-items: center;
    display: inline-block;

  }

  .ava-price{
    display: flex;
    flex-flow: row nowrap;
    width: 500px;
    padding-top: 30px;
    padding-left: 30px;
  }

  .text{
    display: block;
    line-height: normal;
    padding-top: 40px;
    padding-right: 10px;

  }

  #view{
      color: rgb(248, 224, 5);
      font-size: 24px;
  }

  .text{
      color: rgb(248, 224, 5);
  }

  #value{
      text-decoration: underline;
  }

  #info{
      font-family: cursive;
      font-size: 14px;
  }

.contacts{
    background: rgb(248, 224, 5);
    width: 1150px;
    height: 800px;
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
    display: block;
}

.end-photo{
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
}
.end-block{
    display: inline-block;
    height: 700px;
    margin-left: 30px;
}

#form{
    background: black;
    width: 100%;
    height: 586px;
    display: inline-block;
}

#link{
    color: black;
    font-size: 14px;
    padding-left: 40px;

}

#link li{
    display: inline-block;
    padding : 30px;
    text-align: center;
    color: black;
    font-size: 22px;
}

#link :active {
    color: rebeccapurple;
    text-decoration: underline;
}

#order{
    font-size: 30px;
    color: rgb(248, 224, 5);
    padding: 20px;

    text-align: center;
}

.input-form{
    color:rgb(248, 224, 5);
    display: inline-block;
    padding-left: 60px;

}

label{
    display:block;
    position:relative;
    margin: 5px;
}

h5{
    font-size: 18px;
    font-family: cursive;
    text-align: center;
    color: rgb(248, 224, 5);
}

button{
    background:  rgb(248, 224, 5);
    color: black;
    width: 200px;
    height: 50px;
    margin-left: 150px;
    font-weight: bold;
}