@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    background: #d1f4f6;
    margin: 0;
}

.content{
    width: 80%;
    margin: 0px auto;
}

.first{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 10px;
    background: #c462a0;
}

.telephone{
    height: 50px;
    width: 50%;
    padding-left: 10px;
    margin-left: 100px;
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;

}

#number{
    padding-top: 5px;
}

#autorization{
    text-align: center;
    padding-right: 50px;
    padding-bottom: 15px;
    color: black;
    margin-right: 50px;
}

button{
    margin-right: 100px;
    height: 30px;
    width: 180px;
    background: #d1f4f6;
    box-sizing: 20%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;

}

.navigation{
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

#mainlogo{
    width: 20%;
}

.container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: flex-start;
    width: 20%;
    padding-left: 50px;

}

#cart_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/shopping-cart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;


}

#cabinet_btn{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;
    background-image: url(../img/main/customer.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;

}

.menu{
    width: 60%;
    height: 50px;
    border-radius: 35px;
    border: 1px solid black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    background: white;
    margin-left: 55px;
}


ul.full-width{
	width: 90%; /* Ширина основного блока меню */
	height: 50px; /* Высота основного блока меню */
	position: relative;
	display: table;
    margin: 0 auto;
    padding: 0px;
}

ul.full-width li {
	display: table-cell;
	position: relative;
}

ul.full-width li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	background: #FFF;
	line-height: 50px; /* Приравниваем к высоте, чтобы выровнять текст по вертикали */
}

ul.full-width li ul {
	display: none; /* Скрываем выпадающее меню */
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul.full-width li ul li {
	display: block;
    width: 350px;
}

ul.full-width li:hover ul {
	display: block; /* Показываем выпадающее меню, где оно есть, при наведении */
}

.mainview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 100px;

}

#title{
    display: inline-block;
    width: 40%;
    text-align: center;

}

#mainphoto{
    display: inline-block;
    width: 60%;
    text-align: center;
}

h1{
    font-size: 77px;
    color: #cf1e8f;
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    text-align: left;
}

span {
    color: gold;
}

a{
    text-decoration: none;
}

#cart_menu{
    background: white;
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

#cart_name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 28px;
    color: #c462a0;
    text-align: center;
    padding-top: 30px;

}

#cart{
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #c462a0; /* Параметры линии под текстом */
    padding-top: 10px; /* Расстояние от текста до линии */
    margin-left: 50px;
    border-bottom: 1px solid #c462a0; /* Параметры линии под текстом */

}

#table-name{
    border-top: 1px solid #c462a0; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-top: 20px; /* Расстояние от текста до линии */
    border-collapse: separate;
    border-spacing: 50px 0;
}

#cart-photo{
    width: 100px;
    height: 100px;
}

th{
    padding:10px 55px 10px 55px;
}

#total{
    padding-right: 180px;
    font-weight: bold;
    padding-bottom: 20px;
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;

}

#total-text{
    text-align: right;
    padding-right: 20px;
}

#button-cart{
    margin: 20px;
    padding: 10px;
    margin-left: 150px;
    border: 1px black solid;
    background: #d1f4f6;
    color: black;
    border-radius: 35px;
}

#button_light{
    padding: 10px;
    margin: 20px;
    margin-left: 150px;
    border: 1px black solid;
    background: #d1f4f6;
    color: black;
    border-radius: 35px;
}

 #button-cart:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

  #button_light:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

.main-btn{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    margin-left: 80px;
    padding: 10px;
    margin-top: 70px;
}

.futer{
    background: #c462a0;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;

}

 #end-block{
    font-size: 20px;
    width: 30%;
    margin-left: 150px;

 }

 #form-btn:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 35px;
}

 .empty_card{
     margin-left: 300px;
 }

 #empty-cart-text{
     margin-left: 90px;
     margin-top: 50px;
     margin-bottom: 50px;
     font-family: "Comic Sans MS";
     font-weight: bold;
     font-size: 28px;
     color: black;
     width: 300px;
 }