{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}" type="text/css">
    <title>Каталог</title>
</head>
<body>
    <div class="first">
        <div class="telephone">
            <div id="tel_logo">
                <img src="{% static 'img/main/smartphone.png' %}" height="25px" width="25px"  alt="photo">
            </div>
            <div id="number">
                <a href="tel:+375(29)396-76-42">+375(29)396-76-42</a>
            </div>
        </div>
        <div id="autorization">
            {%  if request.user.is_authenticated %}
                <p id="class"> {{ user.username }} | <a href="{% url "account:logout" %}">Выйти</a></p>
            {% else %}
                <p id="class"><a href="{% url "account:login" %}">Вход</a> | <a href="{% url "account:register" %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="navigation">
            <div id="mainlogo">
                <img src="{% static "/img/main/modakids-logo.gif" %}" height="150px" width="300px" alt="photo">
            </div>
            <div class="menu">
                <ul class="full-width">
                    <li><a href="{% url 'main' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'catalog' %}">КАТАЛОГ</a></li>
                    <li><a href="{% url 'delivery' %}">ИНФОРМАЦИЯ</a>
                    <li><a href="{% url 'stock_catalog' %}">АКЦИИ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                </ul>
            </div>
            <div class="container">
                <form action="{% url "cart:cart_detail" %}" style="margin: 10px" id="form-btn">
                    <button id="cart_btn" style="width: 70px; height: 70px;">
                    </button>
                </form>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <a href="{% url "cart:cart_detail" %}">
                            <div id="sum" style="border: 1px black solid; padding: 5px">
                                {{ total_items }} <br>
                                {{ cart.get_total_price }} руб.
                            </div>
                            </a>
                        {% else %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!---->
        <div class="mainview">
            <div id="title">
                <h1>Товары для детей от <span>"0+"</span></h1>
            </div>
            <div id="mainphoto">
                <img src="{% static 'img/main/main photo.jpeg' %}" width="100%" height="100%" alt="photo">
            </div>
        </div>
        <div class='conteiner-info'>
            <div id="sidebar">
                <ul>
                    {% for c in categories %}
                        <button id="category_btn" style="background: #c462a0">
                            <a href="{{ c.get_absolute_url }}" style="color: #d1f4f6">{{ c.name }}</a>
                        </button>
                    {% endfor %}
                </ul>
            </div>
            <div id="all_products">
                {% for product in page_obj %}
                    <div class="product-item">
                        <img src="{{ product.image.url }}" style="width: 100%; height: 50%;" alt="No photo">
                        <div class="product-list">
                            <a href="{{ product.get_absolute_url }}" id="item-name">{{ product.name }}</a><br>
                            <span class="price">{{ product.price }}</span><br>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <input type="submit" value="Добавить в корзину" id="add-cart">
                                </form>
                        </div>
                    </div>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a class="pagination_link" href="?page=1">&laquo;&laquo;</a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if num < page_obj.number and num < 4 %}
                            <a class="pagination_link" href="?page={{ num }}">{{ num }}</a>
                        {% elif num < page_obj.number and num > page_obj.number|add:-4 %}
                            <a class="pagination_link" href="?page={{ num }}">{{ num }}</a>
                        {% elif num == page_obj.number %}
                            <span class="pagination_link_pagination_link__active">{{ num }}</span>
                        {% elif num > page_obj.number and num < page_obj.number|add:4 %}
                            <a class="pagination_link" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number and num > page_obj.paginator.num_pages|add:-3 %}
                            <a class="pagination_link" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                        {% if page_obj.has_next %}
                            <a class="pagination_link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
        <!---->
    <div class="futer">
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Следуй за нами:</h2>
            <a href="https://www.instagram.com/evgenij_sidorovich/" target="_blank"><img src="{% static '/img/main/instagram.png' %}" width="40"
            height="40" alt=" Инстаграм"></a>
            <a href="https://vk.com/evgenij_sidorovich" target="_blank"><img src="{% static '/img/main/vk.png' %}" width="40"
            height="40" alt="ВК"></a>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Время работы</h2>
            <p3>пн-пт: 9:00 - 20:00</p3><br>
            <p3>сб, вс: 9:00 - 19:00</p3><br>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;"> Круглосуточная <br> поддержка</h2>
            <p3>+375(29)861-87-65</p3><br>
            <p3>support@gmail.com</p3>
        </div>
    </div>
</body>
</html></title>
</head>
<body>

</body>
</html>