{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <title>Интернет-магазин "ModaKids"</title>
</head>
<body>
    <div class="first">
        <div class="telephone">
            <div id="tel_logo">
                <img src="{% static 'img/main/smartphone.png' %}" height="25px" width="25px"  alt="photo">
            </div>
            <div id="number">
                <a href="tel:+375(29)396-76-42">+375(29)396-76-42</a>
            </div>
        </div>
        <div id="autorization">
            {%  if request.user.is_authenticated %}
                <p id="class"> {{ user.username }} | <a href="{% url "account:logout" %}">Выйти</a></p>
            {% else %}
                <p id="class"><a href="{% url "account:login" %}">Вход</a> | <a href="{% url "account:register" %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="navigation">
            <div id="mainlogo">
                <img src="{% static "/img/main/modakids-logo.gif" %}" height="150px" width="300px" alt="photo">
            </div>
            <div class="menu">
                <ul class="full-width">
                    <li><a href="{% url 'main' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'catalog' %}">КАТАЛОГ</a></li>
                    <li><a href="{% url 'delivery' %}">ИНФОРМАЦИЯ</a>
                    <li><a href="{% url 'stock_catalog' %}">АКЦИИ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                </ul>
            </div>
            <div class="container">
                <form action="{% url "cart:cart_detail" %}" style="margin: 10px" id="form-btn">
                    <button id="cart_btn" style="width: 70px; height: 70px;">
                    </button>
                </form>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <a href="{% url "cart:cart_detail" %}">
                            <div id="sum" style="border: 1px black solid; padding: 5px">
                                {{ total_items }} <br>
                                {{ cart.get_total_price }} руб.
                            </div>
                            </a>
                        {% else %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!---->
        <div class="mainview">
            <div id="title">
                <h1>Товары для детей от <span>"0+"</span></h1>
            </div>
            <div id="mainphoto">
                <img src="{% static 'img/main/main photo.jpeg' %}" width="100%" height="100%">
            </div>
        </div>
        <!---->
        <div class="advantages" style="background: white">
            <div id="adv">
                <img src="{% static 'img/main/warranty.png' %}" width="40px" height="40px" alt="photo">
                <h2>Гарантия качества</h2>
                <p2>У нас имеется огромный выбор детских товаров ведущих производителей, отвечающих самым высоким требованиям.</p2>
            </div>
            <div id="adv">
                <img src="{% static 'img/main/shipped.png' %}" width="40px" height="40px" alt="photo">
                <h2>Доставка по всей Беларуси</h2>
                <p2>Доставка по г. Минску и Минскому району - бесплатная при заказе на сумму от 80,00 рублей.
                    Доставка по Республике Беларусь осуществляется службой доставки до подъезда.</p2>
            </div>
            <div id="adv">
                <img src="{% static 'img/main/customer.png' %}" width="40px" height="40px">
                <h2>Сотни довольных клиентов</h2>
                <p2>Работаем с 2013 года. Опыт, гарантия и поддержка всех наших клиентов. Бесплатная консультация и помощь в подборе товара.</p2>
            </div>
            <div id="adv">
                <img src="{% static 'img/main/coupon.png' %}" width="40px" height="40px">
                <h2>Постоянные скидки на товары</h2>
                <p2>Кроме постоянных акций в каталоге можно найти акционные товары, на которые действуют персональные скидки.</p2>
            </div>
        </div>
        <!---->
        <div class="main_text">
            <div id="text">
                <h2 style="text-align: left;">ТОВАРЫ ДЛЯ ДЕТЕЙ ОТ 0+</h2>
                <p3 style="text-align: justify;">    Милые мамы и папы, если вы заглянули к нам в гости, значит дом ваш уже посетил аист, и маленькое розовое чудо уже живет с вами! И если в прошлой, бездетной жизни вас интересовали банальные вещи вроде телефонов и микроволновок, то теперь в сфере ваших интересов вещи абсолютно иные – кроватки, колясочки, ходунки, игрушки, манежики. Понятное дело, во всем этом разобраться не так просто, но вы попали по адресу, и теперь никаких сложностей не предвидится!</p3>
            </div>
            <div id="photo-about">
                <img src="{% static 'img/main/inf1.jpeg' %}" width="49%" height="300px" alt="photo">
                <img src="{% static 'img/main/inf2.jpeg' %}" width="49%" height="300px" alt="photo">
            </div>
            <div id="text">
                <h2 style="text-align: left; text-indent: 10px">ДЕТСКИЙ ИНТЕРНЕТ - МАГАЗИН "ModaKids"</h2>
                <p3 style="text-align: justify">
                        Наш интернет-магазин детских товаров "ModaKids" рад предложить вам и вашему малышу все лучшее, самое качественной из волшебного мира товаров для деток!
                    "ModaKids" создан специально для того, чтобы помочь вам заботиться о своем ненаглядном чаде, баловать его, лелеять и делать его детскую жизнь яркой, счастливой и комфортной во всех отношениях! Главная наша миссия сегодня – это максимально облегчить заботу родителей о своих детках, мы даем возможность, не выходя из дому, заказывать и получать столь необходимые малышу игрушки, ходунки, кроватки, кресла для авто, коляски и даже детскую мебель! Мы делаем все, чтобы вы и ваше солнышко могли получать заказы быстро и радоваться новым полезным приобретениям.                    </p3>
                </p3>
            </div>
        </div>
    </div>
        <!---->
    <div class="futer">
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Следуй за нами:</h2>
            <a href="https://www.instagram.com/evgenij_sidorovich/" target="_blank"><img src="{% static '/img/main/instagram.png' %}" width="40"
            height="40" alt=" Инстаграм"></a>
            <a href="https://vk.com/evgenij_sidorovich" target="_blank"><img src="{% static '/img/main/vk.png' %}" width="40"
            height="40" alt="ВК"></a>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Время работы</h2>
            <p3>пн-пт: 9:00 - 20:00</p3><br>
            <p3>сб, вс: 9:00 - 19:00</p3><br>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;"> Круглосуточная <br> поддержка</h2>
            <p3>+375(29)861-87-65</p3><br>
            <p3>support@gmail.com</p3>
        </div>
    </div>
</body>
</html>