<div class="pagination">
        {% for num in page_obj.paginator.page_range %}
            {% if num < page_obj.number and num < 4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num < page_obj.number and num > page_obj.number|add:-4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num == page_obj.number %}
                <span class="example2-pagination_link example2-pagination_link__active">{{ num }}</span>
            {% elif num > page_obj.number and num < page_obj.number|add:4 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number and num > page_obj.paginator.num_pages|add:-3 %}
                <a class="example2-pagination_link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>