{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}" type="text/css">
    <title>Оплата</title>
</head>
<body>
    <div class="first">
        <div class="telephone">
            <div id="tel_logo">
                <img src="{% static 'img/main/smartphone.png' %}" height="25px" width="25px"  alt="photo">
            </div>
            <div id="number">
                <a href="tel:+375(29)396-76-42">+375(29)396-76-42</a>
            </div>
        </div>
        <div id="autorization">
            {%  if request.user.is_authenticated %}
                <p id="class"> {{ user.username }} | <a href="{% url "account:logout" %}">Выйти</a></p>
            {% else %}
                <p id="class"><a href="{% url "account:login" %}">Вход</a> | <a href="{% url "account:register" %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="navigation">
            <div id="mainlogo">
                <img src="{% static "/img/main/modakids-logo.gif" %}" height="150px" width="300px" alt="photo">
            </div>
            <div class="menu">
                <ul class="full-width">
                    <li><a href="{% url 'main' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'catalog' %}">КАТАЛОГ</a></li>
                    <li><a href="{% url 'delivery' %}">ИНФОРМАЦИЯ</a>
                    <li><a href="{% url 'stock_catalog' %}">АКЦИИ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                </ul>
            </div>
            <div class="container">
                <form action="{% url "cart:cart_detail" %}" style="margin: 10px" id="form-btn">
                    <button id="cart_btn" style="width: 70px; height: 70px;">
                    </button>
                </form>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <a href="{% url "cart:cart_detail" %}">
                            <div id="sum" style="border: 1px black solid; padding: 5px">
                                {{ total_items }} <br>
                                {{ cart.get_total_price }} руб.
                            </div>
                            </a>
                        {% else %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!---->
        <div class="mainview">
            <div id="title">
                <h1>Товары для детей от <span>"0+"</span></h1>
            </div>
            <div id="mainphoto">
                <img src="{% static 'img/main/main photo.jpeg' %}" width="100%" height="100%">
            </div>
        </div>
        <div class='conteiner-info'>
            <div id='menu-block'>
                <ul id="block">
                    <li><a href="{% url 'delivery' %}">ДОСТАВКА</a></li>
                    <li><a href="{% url 'payment' %}">ОПЛАТА</a></li>
                    <li><a href="{%  url 'return' %}">ЗАМЕНА И ВОЗВРАТ ТОВАРА</a></li>
                    <li><a href="{%  url 'contacts' %}">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="info-block">
                <h2 >
                    Оплата
                </h2>
                <h3>
                    Способ оплаты
                </h3>
                <ul id="list-pay">
                    <li><span style="font-weight: bold">Наличными:</span> вы расплачиваетесь с курьером при получении заказа, после проверки комплектности вашего заказа, либо если вы забираете заказ самостоятельно из нашего магазина в ТРЦ Тивали (ул. Притыцкого, 29) - 3 этаж магазин 320.</li>
                    <li><span style="font-weight: bold">Картой:</span> во время доставки у курьера будет с собой терминал (предупредите оператора call-центра об оплате картой) , с помощью которого вы сможете оплатить покупку. При самовывозе оплата производится в кассе магазина.</li>
                    <li><span style="font-weight: bold">предоставляется владельцам карт "Халва", "Карта покупок", "Черепаха", "Карта Fun" и "SMART карта"</span> - подробнее
                    При оформлении заказа с доставкой, предупредите оператора call-центра об оплате картой рассрочки или укажите этот способ оплаты в комментариях к корзине при онлайн-заказе.  Поддерживаем карты рассрочки на срок до 10 месяцев. Заказ можно оплатить удаленно из любого города Беларуси. Для этого необходимо воспользоваться онлайн-оплатой. При расчёте картами рассрочки не действуют скидки и акционные предложения.</li>
                    <li><span style="font-weight: bold">Банковской карточкой онлайн:</span> После получения Вашего заказа и уточнения деталей можно произвести online-оплату через системы BePaid. </li>
                    <li><span style="font-weight: bold">Оплата по QR приложением "Оплати".</span>
                    <a href="https://www.o-plati.by" target="_blank">“Оплати” </a>— это мобильная система оплаты электронными деньгами. Платежи проводятся с помощью QR-кода. Для оплаты достаточно только смартфон!
                    Пополнение “виртуального кошелька” с карточек любых банков без комиссии, через ЕРИП, банковским переводом или переводом с другого кошелька «Оплати», подробнее на сайте сервиса https://www.o-plati.by
                    Скачать приложение «Оплати» можно в App Store, Google Play, AppGallery.
                    Для оплаты на сайте приложением «Оплати» необходимо выбрать способ оплаты «Оплати», оформить заказ и отсканировать QR-код приложением «Оплати» или нажать на Оплатить через Оплати(мобильная версия сайта) и подтвердить оплату. Электронный чек оплаты смотреть в истории платежей приложения «Оплати»</li>
                </ul>
            </div>
        </div>
        <!---->
    </div>
        <!---->
    <div class="futer">
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Следуй за нами:</h2>
            <a href="https://www.instagram.com/evgenij_sidorovich/" target="_blank"><img src="{% static '/img/main/instagram.png' %}" width="40"
            height="40" alt=" Инстаграм"></a>
            <a href="https://vk.com/evgenij_sidorovich" target="_blank"><img src="{% static '/img/main/vk.png' %}" width="40"
            height="40" alt="ВК"></a>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Время работы</h2>
            <p3>пн-пт: 9:00 - 20:00</p3><br>
            <p3>сб, вс: 9:00 - 19:00</p3><br>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;"> Круглосуточная <br> поддержка</h2>
            <p3>+375(29)861-87-65</p3><br>
            <p3>support@gmail.com</p3>
        </div>
    </div>
</body>
</html></title>
</head>
<body>

</body>
</html>