{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/return.css' %}" type="text/css">
    <title>Замена и возврат товара</title>
</head>
<body>
    <div class="first">
        <div class="telephone">
            <div id="tel_logo">
                <img src="{% static 'img/main/smartphone.png' %}" height="25px" width="25px"  alt="photo">
            </div>
            <div id="number">
                <a href="tel:+375(29)396-76-42">+375(29)396-76-42</a>
            </div>
        </div>
        <div id="autorization">
            {%  if request.user.is_authenticated %}
                <p id="class"> {{ user.username }} | <a href="{% url "account:logout" %}">Выйти</a></p>
            {% else %}
                <p id="class"><a href="{% url "account:login" %}">Вход</a> | <a href="{% url "account:register" %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="navigation">
            <div id="mainlogo">
                <img src="{% static "/img/main/modakids-logo.gif" %}" height="150px" width="300px" alt="photo">
            </div>
            <div class="menu">
                <ul class="full-width">
                    <li><a href="{% url 'main' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'catalog' %}">КАТАЛОГ</a></li>
                    <li><a href="{% url 'delivery' %}">ИНФОРМАЦИЯ</a>
                    <li><a href="{% url 'stock_catalog' %}">АКЦИИ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                </ul>
            </div>
            <div class="container">
                <form action="{% url "cart:cart_detail" %}" style="margin: 10px" id="form-btn">
                    <button id="cart_btn" style="width: 70px; height: 70px;">
                    </button>
                </form>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <a href="{% url "cart:cart_detail" %}">
                            <div id="sum" style="border: 1px black solid; padding: 5px">
                                {{ total_items }} <br>
                                {{ cart.get_total_price }} руб.
                            </div>
                            </a>
                        {% else %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!---->
        <div class="mainview">
            <div id="title">
                <h1>Товары для детей от <span>"0+"</span></h1>
            </div>
            <div id="mainphoto">
                <img src="{% static 'img/main/main photo.jpeg' %}" width="100%" height="100%">
            </div>
        </div>
        <div class='conteiner-info'>
            <div id='menu-block'>
                <ul id="block">
                    <li><a href="{% url 'delivery' %}">ДОСТАВКА</a></li>
                    <li><a href="{% url 'payment' %}">ОПЛАТА</a></li>
                    <li><a href="{% url 'return' %}">ЗАМЕНА И ВОЗВРАТ ТОВАРА</a></li>
                    <li><a href="{%  url 'contacts' %}">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div id="info-block">
                <div id="text_block">
                    <h2>
                        Замена и возврат товара
                    </h2>
                    <p>При возникновении гарантийного случая, наличии претензии по качеству или комплектности приобретенной продукции просим вас заполнить форму обращения в сервисный отдел, после чего наши специалисты вам позвонят. Если вы не имеете возможности заполнить форму онлайн, вы можете обратиться по телефонам: +375 29 396-76-42, +375 29 861-87-65</p>
                    <p><span style="color: red">Внимание!</span> Если товар был оплачен банковской картой через сайт, то возврат осуществляется на карту, с которой была произведена оплата. Срок поступления денежных средств на карту - от 3 до 30 дней с момента осуществления возврата Продавцом</p>
                </div>
                <div id="form_block" style="margin: 50px">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div>
                            {% for field in form %}
                        <div class="form-group" style="font-size: 14px">
                            {{field.label_tag}}
                            <div>{{field}}</div>
                            {% if field.errors%}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        </div>
                        <input type="submit" value="Отправить" id="form_btn"/>
                    </form>
                </div>
            </div>
        </div>
        <!---->
    </div>
        <!---->
    <div class="futer">
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Следуй за нами:</h2>
            <a href="https://www.instagram.com/evgenij_sidorovich/" target="_blank"><img src="{% static '/img/main/instagram.png' %}" width="40"
            height="40" alt=" Инстаграм"></a>
            <a href="https://vk.com/evgenij_sidorovich" target="_blank"><img src="{% static '/img/main/vk.png' %}" width="40"
            height="40" alt="ВК"></a>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Время работы</h2>
            <p3>пн-пт: 9:00 - 20:00</p3><br>
            <p3>сб, вс: 9:00 - 19:00</p3><br>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;"> Круглосуточная <br> поддержка</h2>
            <p3>+375(29)861-87-65</p3><br>
            <p3>support@gmail.com</p3>
        </div>
    </div>
</body>
</html></title>
</head>
<body>

</body>
</html>