{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/logout.css' %}" type="text/css">
    <title>Интернет-магазин "ModaKids"</title>
</head>
<body>
    <div class="first">
        <div class="telephone">
            <div id="tel_logo">
                <img src="{% static 'img/main/smartphone.png' %}" height="25px" width="25px"  alt="photo">
            </div>
            <div id="number">
                <a href="tel:+375(29)396-76-42">+375(29)396-76-42</a>
            </div>
        </div>
        <div id="autorization">
            {%  if request.user.is_authenticated %}
                <p id="class"> {{ user.username }} | <a href="{% url "account:logout" %}">Выйти</a></p>
            {% else %}
                <p id="class"><a href="{% url "account:login" %}">Вход</a> | <a href="{% url "account:register" %}">Регистрация</a></p>
            {% endif %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="navigation">
            <div id="mainlogo">
                <img src="{% static "/img/main/modakids-logo.gif" %}" height="150px" width="300px" alt="photo">
            </div>
            <div class="menu">
                <ul class="full-width">
                    <li><a href="{% url 'main' %}">ГЛАВНАЯ</a></li>
                    <li><a href="{% url 'catalog' %}">КАТАЛОГ</a></li>
                    <li><a href="{% url 'delivery' %}">ИНФОРМАЦИЯ</a>
                    <li><a href="{% url 'stock_catalog' %}">АКЦИИ</a></li>
                    <li><a href="{% url 'about' %}">О НАС</a></li>
                </ul>
            </div>
            <div class="container">
                <form action="{% url "cart:cart_detail" %}" style="margin: 10px">
                    <button id="cart_btn" style="width: 70px; height: 70px;">
                    </button>
                </form>
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            <a href="{% url "cart:cart_detail" %}">
                            <div id="sum" style="border: 1px black solid; padding: 5px">
                                {{ total_items }} <br>
                                {{ cart.get_total_price }} руб.
                            </div>
                            </a>
                        {% else %}
                            Корзина пуста
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <!---->
        <div class="mainview">
            <div id="title">
                <h1>Товары для детей от <span>"0+"</span></h1>
            </div>
            <div id="mainphoto">
                <img src="{% static 'img/main/main photo.jpeg' %}" width="100%" height="100%">
            </div>
        </div>
        <div class="account-form">
            <div id="form">
                <h2 id="form_login">Авторизация</h2>
                <form method="post" style="text-align: center; padding-top: 10px">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p style="margin-bottom: 40px"><input id="form-login" type="submit" value="Войти"></p>
{#                    <p><a href="{% url "account: password-change" %}">Изменить пароль</p>#}
                    <p style="font-family: 'Comic Sans MS'"> Если вы впервые на сайте, то пройдите <a href="{% url "account:register" %}" id="link-reg"> регистрацию</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="futer">
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Следуй за нами:</h2>
            <a href="https://www.instagram.com/evgenij_sidorovich/" target="_blank"><img src="{% static '/img/main/instagram.png' %}" width="40"
            height="40" alt=" Инстаграм"></a>
            <a href="https://vk.com/evgenij_sidorovich" target="_blank"><img src="{% static '/img/main/vk.png' %}" width="40"
            height="40" alt="ВК"></a>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;">Время работы</h2>
            <p3>пн-пт: 9:00 - 20:00</p3><br>
            <p3>сб, вс: 9:00 - 19:00</p3><br>
        </div>
        <div id="end-block">
            <h2 style="text-align: left; font-size: 22px;"> Круглосуточная <br> поддержка</h2>
            <p3>+375(29)861-87-65</p3><br>
            <p3>support@gmail.com</p3>
        </div>
    </div>
