{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <title>Photographer Andy Strotman</title>
</head>
<body>
    <div class="information">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" width="60" alt="logo" >
        </div>
        <div class="menu">
            <ul class="list">
                <li>ABOUT</li>
                <li>PORTFOLIO</li>
                <li>PRICE</li>
                <li>CONTACTS</li>
            </ul>
        </div>
        <div class="telephone">
            <p> +7-2323-1255637</p>
        </div>
    </div>
    <div class="main">
        <div class="name">
            <p1 >FASHION PHOTOGRAPHER</p1>
            <h1>Andy Strotman</h1>
            <p2>A LONDON BASED PHOTOGRAPHER SPECIALIZING IN WOMEN’S AND MEN’S FASHION, STREET STYLE, EVENT, AND PORTRAIT PHOTOGRAPHY.</p2>
        </div>
        <div class="avatar">
            <img src="{% static 'img/pexels-photo-1466845.jpeg' %}" width="373px" alt="photo">
        </div>
    </div>

    <div class="about">
        <div class="photo">
            <img src="{% static 'img/photo about.jpeg' %}" width="600px" alt="photo">
        </div>
        <div class="info">
            <h2>About Andy Strotman</h2>
            <p id="biography">
                <p3>
                    PROFESSIONAL PHOTOGRAPHER TAKING YOUR BRAND AND IDENTITY TO THE NEXT LEVEL.
                </p3>
                <p4>
                    Having worked and learned from world artists such as John Maison, Steven Ferrel, Stanley Fingerstone, and Pierre de Fontanier in the course of his photographic sojourn at London, Ryan is undoubtedly a real craftsman who is able to see the beauty in ordinary things.
                    As one of the best fashion photographers in London, Ryan Allen has had the pleasure of working with Vogue, Cosmopolitan, Yves Saint Laurent, Harper’s Bazaar, Karl Lagerfeld, Bella Hadid, Alexandra Daddario, and many others fashion brands and models.
                </p4>
            </p>
        </div>
    </div>
    <div class="portfolio">
        <div class="title">
            <h id="title-works">PORTFOLIO</h>
        </div>
        <div class='works'>
            <img src="{% static 'img/1.jpeg' %}"  height="300px" width="300px" alt="photo_1">
            <img src="{% static 'img/2.jpeg' %}"  height="300px" width="300px" alt="photo_2">
            <img src="{% static 'img/3.jpeg' %}"  height="300px" width="300px" alt="photo_3">
            <img src="{% static 'img/4.jpeg' %}"  height="300px" width="300px" alt="photo_4">
            <img src="{% static 'img/5.jpeg' %}"  height="300px" width="300px" alt="photo_5">
            <img src="{% static 'img/6.jpeg' %}"  height="300px" width="300px" alt="photo_6">
        </div>
    </div>
    <div class="price">
        <div class="title">
            <h id="title-works">PRICE</h>
        </div>
        <div class='container'>
            <div class="category">
                <div class="ava-price">
                    <img src="{% static 'img/portret.jpeg' %}"  width="200px" height="200px" alt="portret">
                </div>
                <div class="text">
                    <p id="view"> PORTRAITS</p>
                    <p id="value">
                        from $120/hour
                    </p>
                    <p id="info">
                        Capturing your beauty in every detail. The price includes 3 styles and 20 edited photos per style.
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="ava-price">
                    <img src="{% static 'img/streetstyle.jpeg' %}"  width="200px" height="200px" alt="portret">
                </div>
                <div class="text">
                    <p id="view"> STREET STYLE</p>
                    <p id="value">
                        from $130/hour
                    </p>
                    <p id="info">
                        It is the best option to show your brand in the everyday scenery. Changing tent provided.
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="ava-price">
                    <img src="{% static 'img/event.jpeg' %}" width="200px" height="200px" alt="portret">
                </div>
                <div class="text">
                    <p id="view"> EVENTS</p>
                    <p id="value">
                        from $150/hour
                    </p>
                    <p id="info">
                        Shooting at your special events: fashion shows, benefit events, gala banquets, etc.
                    </p>
                </div>
            </div>
            <div class="category">
                <div class="ava-price">
                    <img src="{% static 'img/compaignt.jpeg' %}" width="200px" height="200px" alt="portret">
                </div>
                <div class="text">
                    <p id="view"> CAMPAIGNS</p>
                    <p id="value">
                        from $180/hour
                    </p>
                    <p id="info">
                        Shootings for magazines, brands, e-commerce, advertising campaigns, lookbooks, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts">
        <div class="end-photo">
            <img src="{% static 'img/end.jpeg' %}" width="500" height="700" alt="photo">
        <div class="end-block">
            <div>
                <ul id="link">
                    <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                </ul>
            </div>
            <div id="form">
                <h1 id="order">Let's start a conversation.</h1>
                <h5>Get in touch with Andy</h5>
                <div class="input-form">
                    <hr>
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Full Name..." name="name" required>

                    <label for="phone"><b>Phone</b></label>
                    <input type="tel" placeholder="Enter Phone..." name="psw" required>

                    <label for="msg">Your message:</label>
                    <textarea id="msg" rows="5" cols="50"></textarea>
                    <hr>
                </div>
                <p><button>Send</button>
            </div>
        </div>
    </div>
</body>
</html>